    {% csrf_token %}
    <div class="control-group">
      <label class="control-label" for="content">{{ form.content.label }}</label>
      <div class="controls">
        {{ form.content }}
      </div>
    </div>
    {% if form.owner.value.username != user.username %}
    <div class="control-group">
      <label class="control-label" for="sender">{{ form.owner.label }}</label>
      <div class="controls">
        {{ form.owner }}
      </div>
    </div>
    {% else %}
    <input type="hidden" name="owner" value="{{ form.instance.owner.username }}" />
    {% endif %}
    {% if perms.tweet_brander.moderate_tweet %}
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
            {{ form.blocked }} {{ form.blocked.label }}
        </label>
      </div>
    </div>
    {% endif %}
    {% if perms.tweet_brander.publish_tweet %}
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
            {{ form.published }} {{ form.published.label }}
        </label>
      </div>
    </div>
    {% endif %}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'home' %}" class="btn">Cancel</a>
      </div>
    </div>